/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

/* Resources Section */
.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.books-grid a {
    text-decoration: none;
    color: #0073e6;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    display: block;
    background-color: #f9f9f9;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.1em;
}

.books-grid a:hover,
.books-grid a:focus {
    background-color: #0056b3;
    color: white;
    outline: 2px solid #ffcc00; /* Outline for better visibility on focus */
}

/* Payment Section */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block; /* Make label block for better layout */
    margin: 10px 0 5px; /* Space between label and input */
}

input[type="text"] {
    width: 100%; /* Full width input */
    padding: 10px; /* Padding for comfort */
    margin-bottom: 10px; /* Space below input */
    border: 1px solid #ccc; /* Border for input */
    border-radius: 4px; /* Rounded corners */
}

button {
    padding: 10px 20px;
    background-color: #0073e6; /* Button color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

/* Till Info Styles */
.till-info {
    background-color: #f9f9f9; /* Light background for contrast */
    border: 1px solid #ccc; /* Border for definition */
    padding: 10px; /* Padding for spacing */
    margin: 20px 0; /* Margin for spacing from other elements */
    text-align: center; /* Center the text */
}

.till-number {
    font-size: 24px; /* Larger font size for emphasis */
    font-weight: bold; /* Bold text for importance */
    color: #007BFF; /* Color to make it stand out */
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
